In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error

In [4]:
cd D:\FINGERTIPS DATA SCIENCE\READING MATERIALS\PROJECTS\PYTHON_ML\PROJECT -2 Python Linear Regression Home Price Prediction Analysis

D:\FINGERTIPS DATA SCIENCE\READING MATERIALS\PROJECTS\PYTHON_ML\PROJECT -2 Python Linear Regression Home Price Prediction Analysis

# Part-1: data Exploration and Pre-processing

In [5]:
# 1) Load the given dataset
df=pd.read_csv("Python_Linear_Regres.csv")
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,03/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,03/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,04/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,04/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,04/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,...,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,...,2.0,1.0,98.0,104.0,2018.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,...,1.0,2.0,220.0,120.0,2000.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,...,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,NaN,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,...,1.0,0.0,250.0,103.0,1930.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [6]:
df.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Price            float64
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom2         float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea     float64
YearBuilt        float64
CouncilArea       object
Lattitude        float64
Longtitude       float64
Regionname        object
Propertycount    float64
dtype: object

In [7]:
df.shape

(34857, 21)

In [8]:
# 2) Print all the column names
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [9]:
# 3) Describe the data
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,34857.000000,2.724700e+04,34856.000000,34856.000000,26640.000000,26631.000000,26129.000000,23047.000000,13742.00000,15551.000000,26881.000000,26881.000000,34854.000000
mean,3.031012,1.050173e+06,11.184929,3116.062859,3.084647,1.624798,1.728845,593.598993,160.25640,1965.289885,-37.810634,145.001851,7572.888306
std,0.969933,6.414671e+05,6.788892,109.023903,0.980690,0.724212,1.010771,3398.841946,401.26706,37.328178,0.090279,0.120169,4428.090313
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1196.000000,-38.190430,144.423790,83.000000
25%,2.000000,6.350000e+05,6.400000,3051.000000,2.000000,1.000000,1.000000,224.000000,102.00000,1940.000000,-37.862950,144.933500,4385.000000
50%,3.000000,8.700000e+05,10.300000,3103.000000,3.000000,2.000000,2.000000,521.000000,136.00000,1970.000000,-37.807600,145.007800,6763.000000
75%,4.000000,1.295000e+06,14.000000,3156.000000,4.000000,2.000000,2.000000,670.000000,188.00000,2000.000000,-37.754100,145.071900,10412.000000
max,16.000000,1.120000e+07,48.100000,3978.000000,30.000000,12.000000,26.000000,433014.000000,44515.00000,2106.000000,-37.390200,145.526350,21650.000000

In [51]:
# 4) Drop address, date, postcode, YearBuilt, lattitude, longtitude columns
new_df=df.drop(['Address','Date','Postcode','YearBuilt','Lattitude','Longtitude'],axis=1)
new_df

,Suburb,Rooms,Type,Price,Method,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Regionname,Propertycount
0,Abbotsford,2,h,NaN,SS,Jellis,2.5,2.0,1.0,1.0,126.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
1,Abbotsford,2,h,1480000.0,S,Biggin,2.5,2.0,1.0,1.0,202.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
2,Abbotsford,2,h,1035000.0,S,Biggin,2.5,2.0,1.0,0.0,156.0,79.0,Yarra City Council,Northern Metropolitan,4019.0
3,Abbotsford,3,u,NaN,VB,Rounds,2.5,3.0,2.0,1.0,0.0,NaN,Yarra City Council,Northern Metropolitan,4019.0
4,Abbotsford,3,h,1465000.0,SP,Biggin,2.5,3.0,2.0,0.0,134.0,150.0,Yarra City Council,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,Yarraville,4,h,1480000.0,PI,Jas,6.3,4.0,1.0,3.0,593.0,NaN,Maribyrnong City Council,Western Metropolitan,6543.0
34853,Yarraville,2,h,888000.0,SP,Sweeney,6.3,2.0,2.0,1.0,98.0,104.0,Maribyrnong City Council,Western Metropolitan,6543.0
34854,Yarraville,2,t,705000.0,S,Jas,6.3,2.0,1.0,2.0,220.0,120.0,Maribyrnong City Council,Western Metropolitan,6543.0
34855,Yarraville,3,h,1140000.0,SP,hockingstuart,6.3,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,Western Metropolitan,6543.0
34856,Yarraville,2,h,1020000.0,PI,RW,6.3,2.0,1.0,0.0,250.0,103.0,Maribyrnong City Council,Western Metropolitan,6543.0

In [52]:
new_df.shape

(34857, 15)

In [53]:
# 5) Find the count of null value in each column
new_df.isnull().sum()

Suburb               0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Distance             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        3
dtype: int64

In [54]:
new_df.columns

Index(['Suburb', 'Rooms', 'Type', 'Price', 'Method', 'SellerG', 'Distance',
       'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea',
       'CouncilArea', 'Regionname', 'Propertycount'],
      dtype='object')

In [55]:
new_df.Bedroom2.unique()

array([ 2.,  3.,  4.,  6., nan,  1.,  5.,  7.,  0.,  8.,  9., 30., 20.,
       10., 16., 12.])

In [56]:
new_df.BuildingArea.unique()

array([         nan, 7.900000e+01, 1.500000e+02, 1.420000e+02,
       2.200000e+02, 2.100000e+02, 8.200000e+01, 1.470000e+02,
       1.070000e+02, 7.500000e+01, 8.000000e+01, 1.900000e+02,
       9.400000e+01, 9.700000e+01, 1.290000e+02, 1.100000e+02,
       1.050000e+02, 7.300000e+01, 1.350000e+02, 1.670000e+02,
       2.700000e+01, 6.000000e+01, 8.500000e+01, 1.740000e+02,
       5.000000e+01, 1.280000e+02, 1.800000e+01, 1.240000e+02,
       9.100000e+01, 8.100000e+01, 2.250000e+02, 1.450000e+02,
       1.140000e+02, 8.400000e+01, 1.340000e+02, 1.160000e+02,
       8.600000e+01, 1.270000e+02, 1.860000e+02, 9.000000e+01,
       1.330000e+02, 1.300000e+02, 1.130000e+02, 1.000000e+02,
       3.090000e+02, 1.920000e+02, 1.260000e+02, 1.010000e+02,
       1.020000e+02, 7.600000e+01, 1.460000e+02, 1.980000e+02,
       1.800000e+02, 1.250000e+02, 1.590000e+02, 1.220000e+02,
       8.800000e+01, 1.810000e+02, 1.170000e+02, 9.800000e+01,
       8.300000e+01, 2.540000e+02, 1.230000e+02, 1.190000e+02,
       1.310000e+02, 3.400000e+01, 2.070000e+02, 6.800000e+01,
       6.500000e+01, 1.850000e+02, 5.400000e+01, 2.630000e+02,
       2.030000e+02, 1.650000e+02, 1.400000e+02, 1.120000e+02,
       2.710000e+02, 6.100000e+01, 2.720000e+02, 2.110000e+02,
       2.420000e+02, 2.680000e+02, 1.200000e+02, 9.300000e+01,
       2.200000e+01, 5.700000e+01, 1.520000e+02, 1.760000e+02,
       1.410000e+02, 7.700000e+01, 8.700000e+01, 1.360000e+02,
       5.800000e+01, 3.000000e+00, 1.080000e+02, 2.510000e+02,
       1.180000e+02, 1.690000e+02, 1.960000e+02, 1.090000e+02,
       4.600000e+01, 6.030000e+02, 1.700000e+02, 1.570000e+02,
       1.600000e+02, 1.580000e+02, 7.000000e+01, 1.680000e+02,
       1.400000e+01, 2.920000e+02, 3.800000e+01, 2.080000e+02,
       2.040000e+02, 1.430000e+02, 9.600000e+01, 2.220000e+02,
       1.820000e+02, 1.110000e+02, 1.210000e+02, 1.630000e+02,
       5.160000e+02, 2.320000e+02, 5.300000e+01, 1.060000e+02,
       6.700000e+01, 7.400000e+01, 1.490000e+02, 3.330000e+02,
       2.850000e+02, 1.550000e+02, 6.200000e+01, 2.700000e+02,
       4.350000e+02, 9.200000e+01, 1.480000e+02, 1.770000e+02,
       1.390000e+02, 1.950000e+02, 2.860000e+02, 1.040000e+02,
       1.320000e+02, 4.110000e+02, 4.020000e+02, 1.150000e+02,
       6.900000e+01, 1.720000e+02, 1.440000e+02, 1.660000e+02,
       1.750000e+02, 7.100000e+01, 2.730000e+02, 3.990000e+02,
       3.150000e+02, 1.780000e+02, 6.180000e+02, 2.280000e+02,
       3.980000e+02, 4.440000e+02, 3.900000e+02, 2.060000e+02,
       1.970000e+02, 1.990000e+02, 2.660000e+02, 2.740000e+02,
       2.400000e+02, 2.780000e+02, 1.640000e+02, 2.010000e+02,
       3.020000e+02, 7.920000e+02, 2.150000e+02, 1.510000e+02,
       2.550000e+02, 3.170000e+02, 2.350000e+02, 3.110000e+02,
       2.430000e+02, 1.030000e+02, 5.000000e+02, 2.810000e+02,
       3.950000e+02, 1.530000e+02, 4.900000e+01, 5.900000e+01,
       5.100000e+01, 2.180000e+02, 4.200000e+02, 2.260000e+02,
       4.100000e+02, 4.490000e+02, 3.560000e+02, 3.490000e+02,
       2.500000e+02, 3.260000e+02, 7.200000e+01, 2.520000e+02,
       2.000000e+02, 3.080000e+02, 2.410000e+02, 4.650000e+02,
       3.360000e+02, 5.020000e+02, 2.640000e+02, 2.530000e+02,
       3.500000e+02, 3.220000e+02, 3.140000e+02, 3.930000e+02,
       2.910000e+02, 2.760000e+02, 1.930000e+02, 2.600000e+02,
       3.230000e+02, 1.540000e+02, 2.750000e+02, 4.770000e+02,
       1.370000e+02, 2.050000e+02, 2.140000e+02, 5.200000e+02,
       2.330000e+02, 3.300000e+02, 3.650000e+02, 4.450000e+02,
       3.550000e+02, 2.470000e+02, 1.880000e+02, 3.600000e+02,
       5.290000e+02, 2.440000e+02, 2.960000e+02, 7.200000e+02,
       5.180000e+02, 5.000000e+00, 5.420000e+02, 2.390000e+02,
       2.120000e+02, 1.940000e+02, 1.380000e+02, 3.530000e+02,
       4.750000e+02, 2.450000e+02, 2.840000e+02, 3.610000e+02,
       7.660000e+02, 9.500000e+01, 1.910000e+02, 7.800000e+01,
       2.800000e+02, 2.310000e+02, 1.560000e+02, 2.570000e+02,
       2.560000e+02, 3.370000e+02, 2.800000e+01, 2.650000e+02,
       5.380000e+02, 9.900000e+01, 2.190000e+02, 1.044000e+03,
       1.620000e+02, 2.380000e+02, 2.160000e+02, 4.320000e+02,
       2.580000e+02, 2.090000e+02, 3.000000e+02, 1.710000e+02,
       3.410000e+02, 3.400000e+02, 2.830000e+02, 2.020000e+02,
       2.620000e+02, 3.640000e+02, 4.120000e+02, 2.210000e+02,
       3.010000e+02, 4.230000e+02, 4.000000e+01, 4.190000e+02,
       2.290000e+02, 3.050000e+02, 2.000000e+00, 3.190000e+02,
       2.460000e+02, 1.610000e+02, 3.040000e+02, 3.420000e+02,
       4.040000e+02, 3.700000e+02, 2.130000e+02, 1.830000e+02,
       3.210000e+02, 1.870000e+02, 5.940000e+02, 3.940000e+02,
       2.490000e+02, 2.890000e+02, 3.460000e+02, 6.600000e+01,
       4.000000e+00, 2.880000e+02, 2.870000e+02, 4.500000e+01,
       8.900000e+01, 5.500000e+01, 1.041000e+03, 1.000000e+00,
       4.200000e+01, 3.700000e+01, 6.400000e+01, 4.300000e+01,
       1.840000e+02, 6.791000e+03, 3.720000e+02, 7.190000e+02,
       3.670000e+02, 3.800000e+02, 1.890000e+02, 3.480000e+02,
       5.600000e+01, 4.670000e+02, 3.340000e+02, 3.070000e+02,
       3.112000e+03, 4.070000e+02, 2.820000e+02, 4.530000e+02,
       3.630000e+02, 2.970000e+02, 1.730000e+02, 4.270000e+02,
       4.800000e+01, 3.300000e+01, 3.200000e+02, 2.370000e+02,
       2.230000e+02, 5.440000e+02, 3.130000e+02, 6.300000e+01,
       4.400000e+01, 2.770000e+02, 2.170000e+02, 4.600000e+02,
       2.300000e+02, 4.700000e+01, 1.300000e+01, 5.200000e+01,
       4.810000e+02, 4.290000e+02, 2.610000e+02, 3.060000e+02,
       3.250000e+02, 2.980000e+02, 3.270000e+02, 3.710000e+02,
       2.900000e+02, 2.360000e+02, 4.780000e+02, 1.561000e+03,
       3.620000e+02, 2.670000e+02, 3.780000e+02, 2.240000e+02,
       3.440000e+02, 2.270000e+02, 4.540000e+02, 7.000000e+02,
       3.558000e+03, 4.400000e+02, 2.000000e+01, 3.500000e+01,
       2.590000e+02, 3.510000e+02, 3.000000e+01, 2.480000e+02,
       2.600000e+01, 3.380000e+02, 1.143000e+03, 6.070000e+02,
       4.610000e+02, 3.540000e+02, 2.950000e+02, 4.010000e+02,
       4.240000e+02, 6.720000e+02, 2.690000e+02, 1.900000e+01,
       4.130000e+02, 3.240000e+02, 6.130000e+02, 3.030000e+02,
       3.160000e+02, 3.740000e+02, 4.100000e+01, 2.340000e+02,
       3.730000e+02, 1.700000e+01, 1.790000e+02, 4.140000e+02,
       1.200000e+01, 4.260000e+02, 4.000000e+02, 3.580000e+02,
       1.022000e+03, 2.930000e+02, 4.180000e+02, 3.100000e+02,
       3.920000e+02, 3.390000e+02, 2.500000e+01, 3.900000e+01,
       3.290000e+02, 1.600000e+01, 0.000000e+00, 3.850000e+02,
       3.310000e+02, 1.000000e+01, 5.010000e+02, 4.500000e+02,
       5.060000e+02, 5.280000e+02, 5.580000e+02, 5.250000e+02,
       5.570000e+02, 3.600000e+01, 3.120000e+02, 3.470000e+02,
       6.500000e+02, 6.730000e+02, 1.500000e+01, 4.340000e+02,
       3.350000e+02, 3.450000e+02, 3.770000e+02, 2.940000e+02,
       3.320000e+02, 7.000000e+00, 3.750000e+02, 2.790000e+02,
       5.930000e+02, 3.870000e+02, 3.570000e+02, 4.050000e+02,
       3.180000e+02, 8.080000e+02, 5.080000e+02, 6.430000e+02,
       7.230000e+01, 2.313300e+02, 6.623000e+01, 3.760000e+02,
       1.015100e+02, 1.953000e+02, 6.811000e+01, 1.126000e+02,
       1.968000e+02, 1.734500e+02, 1.793000e+02, 1.343000e+02,
       4.643000e+02, 7.677000e+01, 1.062000e+02, 1.129000e+02,
       1.137600e+02, 1.531000e+02, 3.200000e+01, 8.520000e+01,
       7.290000e+01, 9.950000e+01, 1.074000e+02, 1.426000e+02,
       5.300000e+02, 7.750000e+01, 8.230000e+01, 9.290000e+01,
       2.557900e+02, 1.863600e+02, 4.900000e+02, 1.472000e+02,
       8.074000e+01, 2.259800e+02, 9.000000e+00, 1.036000e+02,
       6.370000e+01, 1.108700e+02, 1.625200e+02, 9.384000e+01,
       1.244500e+02, 3.010800e+02, 1.138100e+02, 1.067600e+02,
       2.106800e+02, 1.313000e+02, 3.950000e+01, 1.052300e+02,
       1.013700e+02, 1.421000e+02, 1.232100e+02, 1.407481e+02,
       8.650000e+01, 3.060000e+01, 2.255000e+02, 4.095400e+02,
       3.647000e+03, 1.566000e+02, 1.565000e+02, 2.276000e+02,
       1.903600e+02, 1.046300e+02, 4.430000e+02, 1.671300e+02,
       1.485000e+02, 2.701800e+02, 5.330000e+01, 9.850000e+01,
       1.579351e+02, 3.280000e+02, 5.450000e+01, 2.132300e+02,
       9.430000e+01, 4.645000e+03, 2.100000e+01, 9.588000e+01,
       3.292400e+02, 1.057000e+02, 4.540000e+01, 6.950000e+01,
       2.213000e+02, 1.216000e+02, 1.132000e+02, 1.867500e+02,
       5.400000e+02, 9.870000e+01, 1.278000e+02, 2.686000e+02,
       1.064000e+02, 5.600000e+02, 1.680100e+02, 3.061900e+02,
       5.157800e+02, 1.961000e+02, 7.890000e+02, 1.312700e+02,
       1.678700e+02, 1.839700e+02, 2.715000e+02, 1.995000e+02,
       2.900000e+01, 4.460000e+02, 7.545000e+01, 1.655000e+02,
       6.290000e+02, 1.446500e+02, 2.635000e+02, 4.310000e+02,
       5.850000e+02, 1.216300e+02, 7.360000e+02, 3.716122e+02,
       1.997300e+02, 1.185400e+02, 4.123100e+02, 2.982100e+02,
       1.095000e+02, 8.874000e+01, 1.226000e+02, 3.690000e+02,
       1.695000e+02, 4.220000e+01, 4.890000e+02, 1.355000e+02,
       2.667600e+02, 2.724000e+02, 1.000000e-02, 2.298000e+02,
       1.778000e+02, 1.394000e+02, 1.017600e+02, 6.650000e+02,
       6.340000e+02, 1.950964e+02, 4.700000e+02, 1.305200e+02,
       5.470000e+02, 1.110400e+02, 6.340000e+01, 2.714700e+02,
       9.250000e+01, 1.159600e+02, 1.218400e+02, 1.228600e+02,
       1.142000e+02, 2.665300e+02, 7.854000e+01, 8.535000e+01,
       3.520000e+02, 3.910000e+02, 1.218000e+02, 8.260000e+01,
       1.364900e+02, 1.256000e+02, 1.255100e+02, 6.800000e+02,
       1.579352e+02, 1.268000e+02, 1.006000e+02, 4.440000e+01,
       1.986000e+02, 1.515400e+02, 1.809000e+02, 8.268367e+02,
       5.720000e+02, 3.660000e+02, 6.250000e+02, 9.450000e+01,
       1.166500e+02, 1.100000e+01, 1.346000e+02, 1.838400e+02,
       1.267000e+02, 1.578500e+02, 1.554000e+02, 1.164000e+02,
       1.828500e+02, 1.297000e+02, 1.484700e+02, 1.143900e+02,
       5.530000e+02, 5.310000e+02, 1.829000e+02, 1.847500e+02,
       1.937400e+02, 6.850000e+01, 1.099800e+02, 1.222500e+02,
       1.059000e+02, 1.017000e+02, 1.069000e+02, 9.382000e+01,
       1.326000e+02, 1.543000e+02, 1.787400e+02, 8.830000e+01,
       8.070000e+01, 8.925000e+01, 1.816000e+02, 2.990000e+02,
       1.044000e+02, 1.805600e+02, 1.235000e+02, 1.454000e+02,
       1.609100e+02, 2.007100e+02, 2.857000e+02, 1.008000e+02,
       8.179000e+01, 9.340000e+02, 7.030000e+02, 1.299200e+02,
       4.366400e+02, 4.370000e+01, 1.136000e+02, 6.632000e+01,
       3.564000e+01, 6.160000e+01, 3.885000e+02, 3.890000e+02,
       3.970000e+02, 4.250000e+02, 4.950000e+02, 4.150000e+02,
       3.810000e+02, 6.770000e+02, 4.390000e+02, 8.570000e+02,
       2.300000e+01, 5.030000e+02, 5.120000e+02, 6.640000e+02,
       5.750000e+02, 8.590000e+02, 6.530000e+02, 9.990000e+02,
       4.451500e+04, 3.960000e+02, 9.240000e+02, 6.380000e+02,
       3.680000e+02, 4.300000e+02, 5.110000e+02, 4.370000e+02,
       4.720000e+02, 4.870000e+02, 3.100000e+01, 4.640000e+02,
       7.370000e+02, 7.840000e+02, 4.740000e+02, 4.480000e+02,
       4.080000e+02, 6.970000e+02, 4.660000e+02, 7.390000e+02,
       3.790000e+02, 6.140000e+02, 4.210000e+02, 5.240000e+02,
       4.580000e+02, 5.340000e+02, 5.320000e+02, 8.020000e+02,
       5.130000e+02, 4.910000e+02, 8.360000e+02, 3.860000e+02,
       2.002000e+03, 4.280000e+02, 6.600000e+02, 4.630000e+02,
       7.820000e+02, 5.640000e+02, 5.840000e+02, 9.580000e+02,
       6.220000e+02, 6.020000e+02, 4.960000e+02, 7.260000e+02,
       4.470000e+02, 4.160000e+02, 6.400000e+02, 7.350000e+02,
       4.060000e+02, 5.210000e+02, 6.178000e+03, 6.540000e+02,
       7.270000e+02, 4.170000e+02, 4.380000e+02, 6.860000e+02,
       6.490000e+02])

In [65]:
# 6) Fill the null value of property count, distance, Bedroom2, Bathroom, Car with 0
new_df[['Propertycount','Distance','Bedroom2','Bathroom','Car']]=new_df[['Propertycount','Distance','Bedroom2','Bathroom','Car']].fillna(0)

In [66]:
new_df.Bedroom2.unique()

array([ 2.,  3.,  4.,  6.,  0.,  1.,  5.,  7.,  8.,  9., 30., 20., 10.,
       16., 12.])

In [67]:
new_df.columns

Index(['Suburb', 'Rooms', 'Type', 'Price', 'Method', 'SellerG', 'Distance',
       'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea',
       'CouncilArea', 'Regionname', 'Propertycount'],
      dtype='object')

In [68]:
new_df.isnull().sum()

Suburb               0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Distance             0
Bedroom2             0
Bathroom             0
Car                  0
Landsize         11810
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        0
dtype: int64

In [15]:
new_df['Landsize'].unique()

array([ 126.,  202.,  156., ..., 1098., 1109., 1163.])

In [59]:
new_df['CouncilArea'].unique()

array(['Yarra City Council', 'Moonee Valley City Council',
       'Port Phillip City Council', 'Darebin City Council',
       'Hobsons Bay City Council', 'Stonnington City Council',
       'Boroondara City Council', 'Monash City Council',
       'Glen Eira City Council', 'Whitehorse City Council',
       'Maribyrnong City Council', 'Bayside City Council',
       'Moreland City Council', 'Manningham City Council',
       'Melbourne City Council', 'Banyule City Council',
       'Brimbank City Council', 'Kingston City Council',
       'Hume City Council', 'Knox City Council', 'Maroondah City Council',
       'Casey City Council', 'Melton City Council',
       'Greater Dandenong City Council', 'Nillumbik Shire Council',
       'Whittlesea City Council', 'Frankston City Council',
       'Macedon Ranges Shire Council', 'Yarra Ranges Shire Council',
       'Wyndham City Council', 'Cardinia Shire Council',
       'Moorabool Shire Council', 'Mitchell Shire Council'], dtype=object)

In [26]:
new_df['CouncilArea'].shape

(34857,)

In [69]:
new_df.shape

(34857, 15)

In [70]:
# 7) Fill Null value of land size and bidding area columns with Mean
# data = new_df['Landsize'].loc[new_df['Landsize'] != 'np.NaN']
# mean1=data.astype(int).mean()
new_df[['Landsize','BuildingArea']] =new_df[['Landsize','BuildingArea']].fillna(new_df[['Landsize','BuildingArea']].mean())
new_df.head()

,Suburb,Rooms,Type,Price,Method,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Regionname,Propertycount
0,Abbotsford,2,h,NaN,SS,Jellis,2.5,2.0,1.0,1.0,126.0,160.2564,Yarra City Council,Northern Metropolitan,4019.0
1,Abbotsford,2,h,1480000.0,S,Biggin,2.5,2.0,1.0,1.0,202.0,160.2564,Yarra City Council,Northern Metropolitan,4019.0
2,Abbotsford,2,h,1035000.0,S,Biggin,2.5,2.0,1.0,0.0,156.0,79.0000,Yarra City Council,Northern Metropolitan,4019.0
3,Abbotsford,3,u,NaN,VB,Rounds,2.5,3.0,2.0,1.0,0.0,160.2564,Yarra City Council,Northern Metropolitan,4019.0
4,Abbotsford,3,h,1465000.0,SP,Biggin,2.5,3.0,2.0,0.0,134.0,150.0000,Yarra City Council,Northern Metropolitan,4019.0

In [72]:
new_df['Landsize'].head()

0    126.0
1    202.0
2    156.0
3      0.0
4    134.0
Name: Landsize, dtype: float64

In [71]:
new_df['BuildingArea'].head()

0    160.2564
1    160.2564
2     79.0000
3    160.2564
4    150.0000
Name: BuildingArea, dtype: float64

In [73]:
new_df.isnull().sum()

Suburb              0
Rooms               0
Type                0
Price            7610
Method              0
SellerG             0
Distance            0
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
CouncilArea         3
Regionname          3
Propertycount       0
dtype: int64

In [77]:
new_df=new_df.dropna()

In [78]:
new_df.head()

,Suburb,Rooms,Type,Price,Method,SellerG,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Regionname,Propertycount
1,Abbotsford,2,h,1480000.0,S,Biggin,2.5,2.0,1.0,1.0,202.0,160.2564,Yarra City Council,Northern Metropolitan,4019.0
2,Abbotsford,2,h,1035000.0,S,Biggin,2.5,2.0,1.0,0.0,156.0,79.0000,Yarra City Council,Northern Metropolitan,4019.0
4,Abbotsford,3,h,1465000.0,SP,Biggin,2.5,3.0,2.0,0.0,134.0,150.0000,Yarra City Council,Northern Metropolitan,4019.0
5,Abbotsford,3,h,850000.0,PI,Biggin,2.5,3.0,2.0,1.0,94.0,160.2564,Yarra City Council,Northern Metropolitan,4019.0
6,Abbotsford,4,h,1600000.0,VB,Nelson,2.5,3.0,1.0,2.0,120.0,142.0000,Yarra City Council,Northern Metropolitan,4019.0

In [79]:
new_df.isnull().sum()

Suburb           0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Distance         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
CouncilArea      0
Regionname       0
Propertycount    0
dtype: int64

In [80]:
# 8) Find the unique value in method column
new_df['Method'].unique()

array(['S', 'SP', 'PI', 'VB', 'SA'], dtype=object)

In [81]:
new_df['Price'].unique()

array([1480000., 1035000., 1465000., ..., 2685000., 1671000., 1605500.])

In [113]:
# 9) Create a dummy data for categorical data
dummy_df=pd.get_dummies(new_df,drop_first=True)

In [114]:
dummy_df

,Rooms,Price,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Suburb_Aberfeldie,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
1,2,1480000.0,2.5,2.0,1.0,1.0,202.000000,160.2564,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
2,2,1035000.0,2.5,2.0,1.0,0.0,156.000000,79.0000,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
4,3,1465000.0,2.5,3.0,2.0,0.0,134.000000,150.0000,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
5,3,850000.0,2.5,3.0,2.0,1.0,94.000000,160.2564,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
6,4,1600000.0,2.5,3.0,1.0,2.0,120.000000,142.0000,4019.0,0,...,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34852,4,1480000.0,6.3,4.0,1.0,3.0,593.000000,160.2564,6543.0,0,...,0,0,0,0,0,0,0,0,1,0
34853,2,888000.0,6.3,2.0,2.0,1.0,98.000000,104.0000,6543.0,0,...,0,0,0,0,0,0,0,0,1,0
34854,2,705000.0,6.3,2.0,1.0,2.0,220.000000,120.0000,6543.0,0,...,0,0,0,0,0,0,0,0,1,0
34855,3,1140000.0,6.3,0.0,0.0,0.0,593.598993,160.2564,6543.0,0,...,0,0,0,0,0,0,0,0,1,0
34856,2,1020000.0,6.3,2.0,1.0,0.0,250.000000,103.0000,6543.0,0,...,0,0,0,0,0,0,0,0,1,0

In [115]:
dummy_df.shape

(27244, 745)

# Part-2: Working with Model

In [116]:
# 1) Create the target data and feature data where target data is price
x=dummy_df.drop('Price',axis=1)
x.head().shape

(5, 744)

In [117]:
y=dummy_df[['Price']]
y.head().shape

(5, 1)

In [118]:
# 2) Create a linear regression model for Target and feature data
rm=LinearRegression()
rm

LinearRegression()

In [93]:
# rm.fit(x,y)

In [92]:
# r2=rm.score(x,y)
# r2

In [173]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state=10)

In [175]:
x_train.head()

,Rooms,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Suburb_Aberfeldie,Suburb_Airport West,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
5906,4,5.6,3.0,2.0,2.0,400.000000,251.0000,10331.0,0,0,...,0,0,0,0,0,0,0,1,0,0
25640,4,10.5,4.0,3.0,2.0,593.598993,206.0000,10579.0,0,0,...,0,0,0,0,0,0,0,1,0,0
4906,3,13.0,0.0,0.0,0.0,593.598993,160.2564,8870.0,0,0,...,0,0,0,0,1,0,0,0,0,0
11197,3,9.8,3.0,1.0,2.0,613.000000,160.2564,588.0,0,0,...,0,0,0,0,0,0,0,0,1,0
31074,3,17.3,3.0,2.0,2.0,567.000000,160.2564,5366.0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [176]:
x_test.head()

,Rooms,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Suburb_Aberfeldie,Suburb_Airport West,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
12594,3,9.3,3.0,2.0,1.0,305.000000,129.0000,5051.0,0,0,...,0,0,0,0,0,0,0,1,0,0
31221,2,11.7,0.0,0.0,0.0,593.598993,160.2564,5629.0,0,0,...,0,0,0,0,0,0,0,0,1,0
26768,4,9.7,4.0,2.0,7.0,710.000000,594.0000,7809.0,0,0,...,0,0,0,0,0,0,0,1,0,0
33627,2,21.5,0.0,0.0,0.0,593.598993,160.2564,5087.0,0,0,...,0,0,0,0,0,0,1,0,0,0
11710,4,11.8,4.0,3.0,1.0,718.000000,189.0000,3578.0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [177]:
y_train.head()

           Price
5906   1950000.0
25640  1950000.0
4906    607000.0
11197   810000.0
31074  1291000.0

In [178]:
y_test.head()

           Price
12594  1350000.0
31221   595000.0
26768  3200000.0
33627   562500.0
11710  1845000.0

In [179]:
x_train.shape

(19070, 744)

In [180]:
x_test.shape

(8174, 744)

In [181]:
y_train.shape

(19070, 1)

In [182]:
y_test.shape

(8174, 1)

In [183]:
rm.fit(x_train,y_train)

LinearRegression()

In [184]:
rm.score(x_train,y_train)

0.680394197819086

In [185]:
rm.score(x_test,y_test)

0.6715092115054135

In [186]:
price_predicted=rm.predict(x_test)
x_test.head()

,Rooms,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,Propertycount,Suburb_Aberfeldie,Suburb_Airport West,...,CouncilArea_Wyndham City Council,CouncilArea_Yarra City Council,CouncilArea_Yarra Ranges Shire Council,Regionname_Eastern Victoria,Regionname_Northern Metropolitan,Regionname_Northern Victoria,Regionname_South-Eastern Metropolitan,Regionname_Southern Metropolitan,Regionname_Western Metropolitan,Regionname_Western Victoria
12594,3,9.3,3.0,2.0,1.0,305.000000,129.0000,5051.0,0,0,...,0,0,0,0,0,0,0,1,0,0
31221,2,11.7,0.0,0.0,0.0,593.598993,160.2564,5629.0,0,0,...,0,0,0,0,0,0,0,0,1,0
26768,4,9.7,4.0,2.0,7.0,710.000000,594.0000,7809.0,0,0,...,0,0,0,0,0,0,0,1,0,0
33627,2,21.5,0.0,0.0,0.0,593.598993,160.2564,5087.0,0,0,...,0,0,0,0,0,0,1,0,0,0
11710,4,11.8,4.0,3.0,1.0,718.000000,189.0000,3578.0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [187]:
r2=r2_score(y_test,price_predicted)
r2

0.6715092115054135

In [188]:
mse=mean_squared_error(y_test,price_predicted)
mse

137817959351.22345

In [189]:
mae=mean_absolute_error(y_test,price_predicted)
mae

233532.3060014092

In [190]:
rmse=np.sqrt(mse)
rmse

371238.4130868241

In [191]:
slope=rm.coef_
slope.argmax()

459

In [192]:
intercept=rm.intercept_
intercept

array([779427.78572009])

In [ ]:
# 3) Check if the model is overfitting or underfitting or it is accurate

In [ ]:
# 4) If the model is overfitting then apply ridge and lasso regression algorithms

In [193]:
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

In [235]:
ridge_reg= Ridge(alpha=250, max_iter=100,)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=250, max_iter=100)

In [236]:
ridge_reg.score(x_train,y_train)

0.6347711601961307

In [237]:
ridge_reg.score(x_test,y_test)

0.635112449307933

In [199]:
import warnings
warnings.filterwarnings("ignore")

In [226]:
lasso_reg = Lasso(alpha=500, max_iter=100,)
lasso_reg.fit(x_train,y_train)

Lasso(alpha=500, max_iter=100)

In [227]:
lasso_reg.score(x_train,y_train)

0.6512772645115108

In [228]:
lasso_reg.score(x_test,y_test)

0.6521738513702289

In [203]:
# 5) Extract slope and intercept value from the model
print("Slope is =",slope)
print("intercept is =",intercept)

Slope is = [[ 2.68960893e+05 -5.08430853e+04 -8.79723434e+04  1.27456164e+05
   4.04405943e+04  2.36612751e+00  3.25877848e+01  5.58676627e-01
   1.97243771e+05 -4.70378131e+04 -1.87617449e+04  2.25273210e+05
   8.65321130e+04  2.08231797e+05  1.69284804e+05 -7.62200102e+04
  -1.72841860e+05 -3.09954853e+04  6.96602768e+04 -1.18395379e+05
  -4.08536862e+04  1.99495416e+04 -3.50567785e+04 -2.72872873e+05
  -1.20560644e+05 -2.22881417e+05 -4.68943850e+03 -1.01919969e+05
   1.52861862e+05  3.26843499e+04  9.08402663e+04  5.71989737e+04
   6.71134330e-08 -6.49200518e+04  1.56886687e+05 -3.96517270e+05
   8.93276187e+04 -2.05652634e+04  8.11740734e+04  3.14548854e+05
   1.46260074e+05 -1.38824086e+05 -6.77779829e+04  3.72273511e+05
   2.18058944e+05  1.73709845e+05  1.43871041e+05 -1.05646281e+05
  -6.29920788e+04  3.36618662e+05 -1.62514577e+05 -4.43996023e+04
  -4.51255762e+04  3.14838597e+04  2.86018252e+04  1.06304876e+04
  -2.92537740e+04  6.93326001e-08 -2.06529600e+05  1.24607589e+05
  -1.53012144e+05  2.00107787e+04 -2.15425591e+05 -2.84508350e+05
  -8.70030036e+04 -1.65047117e+04 -7.78218766e+04  5.40118355e+04
  -1.51243116e+05  5.62366263e+05  5.94734975e+04  2.62939246e+05
  -1.60461577e+04 -2.00020708e+05  3.91937728e+05 -8.91986812e+04
  -2.01935118e+05  1.17201613e+05  4.06712837e+04  1.08688542e+04
  -8.66222574e+04  3.20927834e+05 -3.77310897e+04 -2.09353057e+05
  -1.86114065e+05 -3.68092778e+05 -1.35389165e+05 -2.43043402e+05
   1.05870501e+05  1.57160684e-08 -1.14201127e+05 -2.46792398e+05
  -8.63586574e+04  4.94268069e+03 -1.11988183e+05  1.92828603e+04
   6.91678582e+04  5.58925795e+04 -3.87218046e+04  1.73138454e+04
  -2.57848118e+04  7.35477224e+04 -1.65377554e+05 -1.96284329e+04
   9.76212651e+04 -2.98184708e+05  6.79289135e+04 -9.09758542e+04
   9.77511574e+04  3.42341387e+05 -1.52372671e+04  9.35946268e+03
  -1.71016418e+05 -1.28616735e+05  2.98029560e+05 -1.75671843e+05
  -3.12864798e+05 -2.62484898e+02  3.80085470e+04  1.17090766e+05
  -2.75555940e+05 -1.45840174e+05  2.89531484e+05  3.22523452e+05
   2.34469553e+05  6.58338894e+04  2.62874236e+03 -1.91243353e+05
   2.23668148e+04  3.73390823e+05 -2.10616865e+05 -1.82396615e+04
   1.23329071e+05  7.02802813e+04 -1.81753273e+04 -2.10446459e+05
   1.14784018e+05  1.11194675e+05 -7.88243596e+04  2.20979337e+05
   6.08233677e-08  1.64585418e+05  2.34693084e+05 -1.00778862e+05
  -5.08014626e+04 -8.15584258e+04  2.69678723e+05 -6.47867214e+04
   4.07400811e+05 -2.87745556e+05  1.49102853e+05  2.05013178e+05
  -3.03865714e+05 -3.92441442e+04 -9.33462095e+04  2.91517420e+05
  -3.83892452e+04 -2.40190557e+05  6.40346842e+04  6.60087396e+04
  -1.31540476e+05  2.09284116e+05  1.69226645e+05 -2.74631170e+05
  -3.64475414e+04 -3.27126919e+05 -1.70648872e+05  3.41082623e+05
  -1.25150985e+05  5.27264538e+04 -1.73239245e+05 -3.89297514e+05
  -4.96087804e+05 -1.05360099e+05 -5.53839968e+03  2.16867864e+03
   1.00829191e+05 -1.55825016e+05 -2.05601735e+05 -6.45863336e+04
   3.80298999e+05 -1.54767183e+05  2.40761437e-08 -1.46805548e+05
   7.08925001e+04 -5.18921214e+02  4.50718381e+04  2.01865905e+04
   1.97143393e+03 -1.00521806e+05 -8.72149938e+04 -1.75780126e+05
   5.48140691e+04  8.39865816e+04 -8.28532123e+04 -5.78418945e+04
   4.38064777e+04 -4.32453050e+04 -8.17230345e+04 -7.36862064e+04
  -1.05975893e+05  9.73409760e+04  6.47779471e+03 -1.44116522e+05
   4.44419289e+03  1.49213677e+05  6.15297244e+04  5.32758205e+04
  -8.08378404e+04  4.05116793e+05  2.50765685e+04 -1.42869975e+04
   2.53180861e+05 -2.38256524e+04  1.85088516e+04 -3.33768613e+04
   8.98944237e+04 -1.04203153e+05  8.76456938e+04  1.55148850e+05
  -1.84543925e+04  4.73573426e+05 -1.25814690e+05  1.16916016e+05
   3.23661018e+04  5.80314430e+04 -8.44274646e+04 -3.06546022e+05
   3.76961672e+04 -1.10229186e+05 -1.53891130e+05  1.43311888e+05
   3.27990895e+04  2.18179277e+05 -2.91406078e+04  3.25649676e+03
   7.52344141e+04 -1.36986810e+05 -8.61259650e+04  8.17608891e+04
  -9.58071517e+03 -3.12935171e+04  5.78235208e+05  1.61746642e+05
   1.04134563e+05 -4.06397036e+03  9.08951561e+04  1.39894163e+04
  -3.94253197e+04 -4.03606896e+05  1.27913081e+04  1.02852951e+05
   1.18588064e+05  2.08361914e+05  3.81984386e+05 -1.00614492e+04
   1.84964179e+05  2.57248447e+05  2.67816506e+05 -2.09180736e+05
  -8.43670184e+04 -3.10708612e+05 -6.18787532e+04  5.21994429e+05
  -9.57256142e+04 -5.54820961e+04  3.97412503e+04  2.48081338e+05
   4.47890606e+04  1.82306196e+04 -9.29459478e+04 -1.20926859e+05
   4.32615557e+05 -2.36344227e+05 -1.95193236e+05 -4.03291345e+04
  -1.75444756e+05  2.15624300e+05  8.83400971e+04 -1.55391315e+05
   1.31383950e+05  3.68944738e+04  2.85969338e+04  3.96603445e+05
  -2.09978587e+05 -8.88882906e+04 -2.10001585e+05 -5.94828268e+04
  -9.13774207e+04 -3.87494138e+05 -8.57119380e+04 -1.28598513e+05
   7.60099643e+04  8.21707447e+04 -3.05315061e+05 -1.16280026e+05
   6.37133796e+04 -1.80029567e+05  5.28942723e+05  6.60142842e+04
  -6.29016867e+04 -1.33634612e+05  6.74846336e+03  7.89738150e+04
  -5.85498615e+04 -9.29085304e+04 -3.63050409e+04  6.95581548e-08
   1.33316718e+05 -1.62839349e+05  2.04288262e+05 -2.53188730e+04
   4.14223581e+04  1.44453618e+05 -3.40919808e+04  1.88733789e+04
   5.76504871e+04  1.41814522e+05 -9.32445089e+04 -2.31222696e+04
  -3.82025949e+05  1.85418686e+05  4.70317900e-08 -2.87668342e+05
  -2.79300431e+05  2.26037894e+05  4.00468707e-08 -1.55163943e+04
   4.21613678e+04 -1.03677082e+05 -2.58798952e+05 -1.59790446e+05
   1.82481017e-08 -7.99821273e+04  4.81296793e+04 -2.97089146e+04
  -1.84368025e+05  5.26816888e+04  4.01034647e+05 -1.16640598e+05
   3.05736293e+05  1.78082480e+04 -1.26083901e+05  1.84560270e+05
   4.45783779e+04  3.71288132e+05 -1.06888380e+05  4.21587174e-08
   3.90286516e+04 -7.04603735e-08 -1.20072810e+05 -2.74557613e+05
  -4.76692287e+05  8.33475191e+04  7.84584779e+04  4.68659798e+04
   2.23738061e+04 -3.57656032e+04  2.24224428e+05  4.94092501e+05
   5.28764368e+05  1.93831511e-08 -6.22821972e-08  1.39572538e+05
  -3.30100953e+04  1.88103555e+04  1.79954663e+05 -1.56664205e+05
   2.19906776e+05  2.62297098e+05  2.94297796e+04 -5.19143825e+04
   4.48023952e+04  4.46281590e+05 -1.05355866e-08  1.43916032e+05
   3.95789287e+05  1.80539521e+05  1.31194729e+05  4.56533594e+05
   2.11511837e+04  3.32476305e+04  2.80485021e+04  1.10542310e+05
   2.57568900e-09 -1.63366263e+04 -2.72695163e+05  8.38190317e-09
   1.43753663e+05  2.52688816e+05  1.19561696e+05  9.00492595e+05
   2.04473573e+05 -6.19698510e+03 -4.87847961e+04  2.38857374e+04
  -3.70219257e+04  1.36752153e+05  8.02549779e+04  1.70100179e+05
   3.34205911e+05  1.92034268e+05 -1.21106330e+05  8.03847797e-08
   1.35193115e+05 -5.15712047e+03  3.97435759e+05  6.87141437e-08
  -7.43018892e+04  1.20819283e+05  1.26601662e-09  6.00735321e+05
   1.75216754e+05 -4.08617780e-08  2.06428441e+05  4.15564001e+05
   2.24493088e+05 -2.07191695e+05  9.12203974e+04 -2.14052176e+05
   1.87368918e+05 -2.69819698e+05  1.57462939e+05 -5.37245973e+04
   3.42995856e+05 -6.81066808e+04  2.74816117e+05  1.92852894e+05
   2.39746017e+05  1.71375513e+05  3.27709131e-08  4.47371646e+04
  -1.17484507e+05  8.74856502e+04  7.13922561e+04  1.00287826e+05
   9.69356526e+04 -2.28368508e+03  1.51751788e+06  2.48416662e+05
  -8.14946990e+04  1.26692698e+05  2.12422564e+04 -4.80329744e+05
  -2.10636054e+04 -1.07664701e+05 -5.93718141e-09  1.24098659e+05
   1.70705592e+05  4.20681528e+05  5.29853383e+04  1.31470414e+05
   1.98608625e+05  1.56733244e+04  1.52259398e+05  1.33158844e+05
  -3.39166701e+04  2.25227268e-08  3.01224645e-08  1.62519478e+06
   1.05953421e+05  1.61953030e+05  7.06678019e+04  9.97507812e+04
  -5.98882475e+04 -2.08358424e+05 -1.98927511e+05  8.24693379e+04
  -3.33820935e-08 -7.85115018e+04  1.59364206e+05  1.96029700e+05
   1.11403228e+05  5.96682634e+05  1.32921296e+05  1.02910250e+06
  -9.62915469e+04 -1.42887017e+05  1.28376435e+05 -1.97024283e+04
   4.38415992e+04 -5.11351057e+03  8.17976536e+04 -7.89980318e+04
   3.14534296e+05  9.48553435e+03 -8.91218669e+04  2.89010957e+05
   1.98634005e+05 -1.40498742e-08  1.28111305e+05 -2.98152053e+04
   3.52926039e+04  7.66324275e+04  2.25580268e+05 -2.41561793e-09
   1.67309825e+05  1.16562730e+05  2.10259689e+05  1.04994685e+05
   1.70076292e+05 -4.54287120e+05  4.78683634e+04  2.91967568e+05
   1.75255972e+05  5.82614425e+04 -2.62105982e+05  5.36090175e+05
  -7.29593050e+04  1.44932052e+05  4.28888171e+05  7.74331184e+04
   8.83696573e+04 -1.07260955e+04  1.29858442e+05  7.82792184e+04
   6.24091139e+05 -2.22248755e+05  2.17065150e+05  1.75500302e+04
  -2.25071366e+04  1.64883674e+05  1.05578332e+05  3.26555211e+05
   2.99402868e+05  1.48140988e+05  3.75734785e+05 -5.08980483e+05
   7.56764892e+04  3.56803745e+05  3.41418063e+04  1.42110060e+04
  -3.91879110e+04 -8.64847062e+04  9.00400803e+04  3.41082623e+05
   4.59155997e+05 -4.24071041e+04  1.09733699e+05  3.36220463e+05
   2.72706496e+05  3.80085136e+04  1.82342294e+05 -1.55028868e+05
  -7.47968443e-09  1.07925382e+05  1.87841582e+05  1.16496307e+05
   3.09082679e-08  4.19549906e-08  1.77624323e+05  3.61059426e+04
   2.18184136e+05  1.49524819e+05  8.06070189e+05  3.18997631e+05
   1.31676376e+05 -1.88288659e+05  1.34957900e+05  1.71996242e+05
  -3.94938979e-08  6.92312845e+04  1.36257814e+05  1.02716882e+05
   3.25940181e+05  9.06391714e+05  1.08836172e+05 -1.31777968e+05
   2.53901143e+05  1.18134140e+05  3.47549332e+05  1.25066459e+05
  -1.30186773e+05  1.72345727e+05  3.90883559e+05  1.19573097e+05
   5.98859363e+04  1.87273854e+05  9.73372237e+04  1.40101944e+05
  -2.14373741e+05  1.17359913e+05  6.42771521e+04  3.41272376e+04
   1.22236088e-09  1.11104463e+05  1.98200385e+05  3.96691578e+05
   2.78283888e+05  3.13987569e+05  6.03482804e+05  3.59327302e+04
   1.27383144e+05  1.57610563e+05  1.47273789e+05 -1.90018122e+04
   2.95371942e+05  1.10162010e+05 -4.28583908e+03  2.93893733e+05
  -4.81585886e+05 -3.29433831e+05  7.01570416e+04  1.43374391e+05
   1.21260254e+05  1.72190887e+05  6.98878701e+04  3.06140920e+05
   1.26242467e+05  1.02503042e+05 -6.33721514e+04  9.08231976e+04
   9.31810924e+04 -4.30363857e+05  3.50896829e+05  1.63276860e+05
   1.45887904e+05  2.15027652e+05  1.26893048e+05  1.04813862e+05
   1.64208403e+05  1.04139094e+05  5.58388728e+03  7.55638822e+04
  -1.17993219e+05  1.58906914e-08 -4.29558066e+05  2.03601765e+05
   2.61652959e+05  1.80330659e+05 -5.19970095e+05  2.61478975e+05
   8.55652615e-09  1.16340511e+05 -4.15527569e+05 -6.30665623e+04
   1.34797468e+05  2.89920623e+05 -3.71064842e+05  1.05109694e+06
   1.67711462e+05  2.35806963e+05  3.11047307e+04  1.42026693e-08
   1.04512114e+05 -2.27858646e+05  1.31984139e+05  3.15007608e+04
   1.91793772e+05  6.28109976e+05 -6.72095356e+04  2.72610800e+05
  -8.32281884e+04 -3.11741492e+04 -4.39798110e+05 -5.75206639e+04
   2.10167748e+05  1.30159145e+05 -1.68662637e+05 -4.24915925e-09
   4.01456668e+05  2.80964734e+05  4.44837630e+04  7.44456737e+05
  -3.23825553e+04  2.16543119e+04  2.25947364e+03 -1.93115954e+05
   1.83621346e+05  8.23400730e+03  1.01783246e+06  8.13921527e+04
   1.65751045e+05  1.01022895e+06  2.43671766e+05 -6.49566439e+04
  -2.90898644e+04  3.90540893e+05  8.50299935e+04  1.23005050e+05
   1.71527693e+05  2.45727812e+05  2.16171578e+04  7.11511953e+04
   1.21038274e+05  1.22054045e+04  0.00000000e+00  1.31277576e+05
   0.00000000e+00  1.38794731e+05  9.04812614e+04  2.45500493e+05
   0.00000000e+00  4.35444672e+03  2.07973839e+05  0.00000000e+00
   0.00000000e+00  1.98957681e+05  0.00000000e+00  6.08887573e+04
   7.10919746e+04  0.00000000e+00  2.00335361e+05  2.69412245e+05
   3.63549364e+04  4.41046245e+05  3.14074798e+05 -2.32083083e+05
   4.39850143e+05  1.88917565e+05 -1.36007968e+04  3.66395714e+05
   1.17657329e+05 -3.04021355e+04 -1.28977764e+05 -6.28530731e+04
   1.56920074e+05  7.86293166e+04  5.89818148e+05  9.23909507e+04
  -2.20122645e+05  1.49850181e+05 -1.51384475e+04 -1.25271092e+05
   1.85418686e+05  3.08260141e+04 -4.65879251e+04  9.30617189e+04
  -8.46149486e+04 -1.28815321e+05  4.60011108e+04  2.51875609e+05
   7.92596536e+04  5.75588647e+04 -1.70704832e+05 -5.86680184e+04
   6.76393851e+04  3.24713612e+05 -2.41951127e+05  3.79786872e+05
   1.95770766e+05 -3.68179697e+03 -1.88083327e+05  2.19237723e+05]]
intercept is = [779427.78572009]

In [239]:
# 6) Display Mean Squared Error
print("Mean Sqarred value is =",mse)

Mean Sqarred value is = 137817959351.22345

In [240]:
# 7) Display Mean Absolute Error
print("Mean Absolute value is =",mae)

Mean Absolute value is = 233532.3060014092

In [241]:
# 8) Display Root mean Squared error
print("Root Mean Squared Error =",rmse)

Root Mean Squared Error = 371238.4130868241

In [242]:
# 9) Display R2 score
print("r2_score is =",r2)

r2_score is = 0.6715092115054135